*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
    --gray: rgb(29, 28, 33);
    --border: 5px solid;
    --blue: rgb(107, 127, 215);
    --black: rgb(20, 20, 23);
    

}
body{
    background-color: var(--gray);
    transition: background-color 0.3s ease;
}
.title{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2{
    color: var(--blue);
    font-family: "Poppins";
    font-size: 70px;
    transition: color 0.3s ease;
}
.RPSbox{
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0px 40px 0px 40px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 13px solid rgb(12, 12, 12);
    font-family: "Poppins";
    font-size: 55px;
    color: rgb(154, 167, 211);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease;
}
.gameDiv{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.comOp{
    height: 50px;
    font-size: 30px;
    font-family: "Poppins";
    transition: color 0.3s ease;
}
.resultOp{
    height: 30px;
    font-size: 50px;
    font-family: "Poppins";
    transition: color 0.3s ease;
}